html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background: #f8f8f8;
  width: 100vw;
}

/* Navigation styling */

.nav-menu-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1% -5% 0 -5%;
  font-family: "PT Sans", sans-serif;
  align-items: center;
  width: 100vw;
  height: 13vh;
}

.nav-links {
  padding-left: 200px;
}

.nav-menu {
  text-decoration: none;
  color: #555555;
  margin: 0 20px 0 20px;
  transition: 0.3s;
  font-family: "PT Sans", sans-serif;
  font-size: 115%;
}

.nav-menu:hover {
  color: #26b7da;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

.logo {
  -webkit-filter: drop-shadow(3px 3px 3px lightgrey);
  filter: drop-shadow(3px 3px 3px lightgrey);
  padding-left: 100px;
}

.user-name-header {
  margin: 0 13px 0 0;
}

/* Landing styling */

.landing,
.email-sign-up {
  font-family: "PT Sans", sans-serif;
  color: #555555;
  text-align: center;
  margin: 30px 0 0 0;
}

.image-section-landing {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subheader {
  color: #36a7b6;
}

.image-copy {
  margin: 40px 70px 0 -70px;
  width: 40%;
  color: #808080;
  font-family: "PT Sans", sans-serif;
}

.button-google {
  text-align: center;
  margin: 5px 0 0 0;
}

p {
  font-size: 110%;
  margin: -50px 0px -20px 0px;
  line-height: 1.2;
}

.free {
  margin: 25px 0px 0px 0px;
  color: #555555;
}

/* learn more section landing */

.learn-more {
  background: #f6f6f6;
  font-family: "PT Sans", sans-serif;
  border-top: 1px solid lightgrey;
  padding: 0px 100px 60px 100px;
  width: 100vw;
}

.learn-more-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.learn-more-headers {
  text-align: center;
  color: #36a7b6;
}

.learn-more-col {
  margin: 0 20px 0 20px;
}

.learn-more-p {
  color: #808080;
  margin: 0 0 20px 0;
}

/* footer  */

.footer-align {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

/* email sign in */
.email-sign-up {
  position: relative;
  margin: 10% 25% 0 25%;
  padding-bottom: 17.5%;
  text-align: center;
}

.email-signup-label {
  margin: 10px 5px 5px 5px;
  padding: 0px 0px 3px 0px;
}

.email-signup-input {
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 2rem;
}

label {
  font-size: 135%;
  line-height: 1.2;
}

form {
  margin: 0px 0px 10px 0;
}

/* DASHBOARD */

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  margin: 20px 0 0 0;
}
/* dashboard left column styling */

.dashboard-header {
  color: #555555;
}

.dashboard-subheader {
  color: #656565;
}

.accomplishment {
  color: #36a7b6;
}

.dashboard-left-column {
  width: 20%;
  height: 100vh;
  background: #f6f6f6;
  padding-left: 60px;
  color: #808080;
  border-top: 1px solid lightgrey;
}

/* dashboard middle column styling */

.dashboard-middle-column {
  width: 50%;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  padding: 0 50px 0 50px;
  color: #808080;
}

/* dashboard right column styling */

.dashboard-right-column {
  width: 30%;
  height: 100vh;
  background: #f6f6f6;
  border-top: 1px solid lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  color: #808080;
}

.dash-right-accomplishments-cat {
  background: #ffffff;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
}

/* Post a Lesson Page */

.post-lesson-page {
  margin: 40px 150px 20px 150px;
}

/* INDIVIDUAL LESSON PAGE */

.indv-lesson-body {
  background: #f6f6f6;
  height: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgrey;
  margin: 20px 0 0 0;
  font-family: "PT Sans", sans-serif;
}

.indv-lesson-content {
  width: 60%;
  padding: 20px 50px 50px 50px;
  background: white;
}

.back-to-dash {
  padding: 30px 0px 0px 30px;
}

.spacing {
  padding: 10px 0px;
}
